Types: deb
URIs: http://{{ freeradius_repo_pkgs_domain }}/freeradius-3.2/{{ ansible_facts.distribution | lower }}/{{ ansible_facts.distribution_release }}
Suites: {{ ansible_facts.distribution_release }}
Components: main
Signed-By: {{ freeradius_repo_key_file }}

