[inkbridge-freeradius]
name=InkBridge Networks FreeRADIUS
baseurl=http://{{ freeradius_repo_pkgs_domain }}/freeradius-3.2/rocky/10
enabled=1
gpgcheck=1
gpgkey={{ freeradius_repo_key_url }}
priority=1

