Types: deb
URIs: https://{{ fluentbit_repo_pkgs_domain }}/{{ ansible_facts.distribution | lower }}/{{ ansible_facts.distribution_release }}
Suites: {{ ansible_facts.distribution_release }}
Components: main
Signed-By: {{ fluentbit_repo_key_file }}

