# Keyboard configuration file

KEYMAP="{{ locale_kbd.keymap }}"

XKBMODEL="{{ locale_kbd.model }}"
XKBLAYOUT="{{ locale_kbd.layout }}"
XKBVARIANT="{{ locale_kbd.variant }}"
XKBOPTIONS="{{ locale_kbd.options }}"

BACKSPACE="{{ locale_kbd.backspace }}"

