# Fluent Bit - logrotate

{{ fluentbit_dir.logs }}/*.log {
  daily
  rotate 200
  maxage 200
  missingok
  notifempty
  nocreate
  dateext
  dateformat -%Y%m%d
  compress
  delaycompress
  sharedscripts

  postrotate
    pid_target="$(pidof fluent-bit)"

    if [ -n "$pid_target" ]; then
      kill -USR1 "$pid_target"
    fi
  endscript
}

